.cache/
.DS_Store
.editorconfig
.eslintignore
.eslintcache
.github/CODEOWNERS
.gitignore
.husky/
.prettierignore
dist/
core/
coverage
node_modules
properties.json
LICENSE
sn-action-button-ext/
pnpm-lock.yaml
*.html
*.snap
*.png
*.sh
*.qext
*.xml
*.info
*.qvf
*.gif
*.zip
CHANGELOG.md