.cache/
.DS_Store
.editorconfig
.eslintignore
.github/CODEOWNERS
.gitignore
.husky/
.prettierignore
dist/
core/
coverage
node_modules
properties.json
LICENSE
*.lock
*.html
*.snap
*.png
*.sh
*.qext
*.xml
*.info
*.qvf
*.gif